.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to right top, #c777b9, #ba83ca, #aa8fd8, #79b3f4, #69bff8, #52cffe, #41dfff);
  height: 350px;
  width: 100%;
}

.dateTimeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .dayNum {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 4px;
  }
  .dayMonthYearWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin: 0 4px;
    font-size: 1.1rem;

    .day {
    }
    .monthYear {
      opacity: 0.8;
    }
  }
}
