@mixin btnIcon {
  margin-left: 5px;
  transition-property: transform;
  transition-duration: 0.34s;
  transition-timing-function: cubic-bezier(0.07, 0.55, 0.58, 1);
}

.defaultbtn {
  display: flex;
  align-items: center;

  border-radius: 10px;
  background: #ececec;
  box-shadow: 4px 4px 4px #bebebe, -4px -4px 4px #ffffff;

  border: solid 1px rgb(73, 165, 240, 0);

  font-weight: bold;
  padding: 10px 12px;
  margin: 5px 15px;
  user-select: none;
  cursor: pointer;
}

.icon {
  @include btnIcon();
  width: 18px;
}
.iconSmall {
  @include btnIcon();
  width: 14px;
}

.addBtn {
  &:hover {
    border-radius: 10px;
    // background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 4px 4px 4px #bebebe, -5px -5px 10px #ffffff;
    color: rgb(73, 165, 240);

    .icon {
      fill: rgb(73, 165, 240);
      transform: rotate(90deg);
    }
  }
  &:active {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 4px 4px 4px #bebebe, inset -5px -5px 10px #ffffff;
  }
}

.removeBtn {
  .icon {
    transform: scale(0.9);
  }

  &:hover {
    border-radius: 10px;
    // background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    color: rgb(240, 73, 73);

    .icon {
      fill: rgb(240, 73, 73);
      transform: scale(1);
    }
  }

  &:active {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  }
}

.filterBtn {
  display: flex;
  align-items: center;

  border-radius: 10px;
  background: #ececec;
  box-shadow: 4px 4px 4px #bebebe, -4px -4px 4px #ffffff;

  border: solid 1px rgb(73, 165, 240, 0);

  font-weight: bold;
  padding: 5px 6px;
  margin: 0;
  user-select: none;
  cursor: pointer;

  &:hover {
    .iconSmall {
      fill: rgb(73, 165, 240);
    }
  }
}
