.mainWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;

  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;

  .modalWrapper {
    z-index: 10;
    background-color: #ececec;

    width: 80vw;
    height: fit-content;
    max-width: 600px;

    margin-top: 120px;
    border-radius: 20px;

    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      padding: 30px;

      .title {
        font-weight: bold;
        font-size: 1.4rem;
        margin-top: 12px;
        margin-bottom: 4px;
      }

      input[type='text'],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type='datetime-local'],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      ::-webkit-calendar-picker-indicator {
        transform: scale(1.5);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  padding: 5px;
  width: 40px;
  transform: rotate(45deg);
  fill: inherit;
  transition-property: fill;
  transition-duration: 0.3s;

  &:hover {
    cursor: pointer;
    fill: rgb(73, 165, 240);
  }
}

.colourSquareWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.colourSquare {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #353535;

  transition-property: transform;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.selected {
  border: solid 2px #353535;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  font-weight: bold;
}

.iconSquareWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.iconSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  padding: 12px;
  border: solid 1px #3535353a;

  opacity: 0.8;

  transition-property: all;
  transition-duration: 0.3s;
  svg {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}
.selectedIcon {
  padding: 8px;
  background-color: rgb(73, 165, 240);
  opacity: 1;
  fill: white;
}

.submitButton {
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}
