.mainWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;

  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;

  .modalWrapper {
    z-index: 10;
    background-color: #ececec;

    width: 80vw;
    height: 80vh;
    max-width: 600px;
    max-height: 450px;

    margin-top: 120px;
    border-radius: 20px;

    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      padding: 30px;
    }
  }
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  padding: 5px;
  width: 40px;
  transform: rotate(45deg);
  fill: inherit;
  transition-property: fill;
  transition-duration: 0.5s;

  &:hover {
    cursor: pointer;
    fill: rgb(73, 165, 240);
  }
}

.hide {
  display: none;
}

.colourSquareWrapper {
  display: flex;
}
.colourSquare {
  margin: 4px;
  width: 50px;
  height: 50px;
  border-radius: 10px;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

  transition-property: transform;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.selected {
  border: solid 2px #353535;
}

.iconSquareWrapper {
  display: flex;
}
.iconSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 4px;

  transition-property: transform;
  transition-duration: 0.3s;
  svg {
    width: 100%;
  }

  &:hover {
    transform: scale(1.15);
    cursor: pointer;
  }
}
.selectedIcon {
  transform: scale(1.15);
  fill: rgb(73, 165, 240);
  // filter: drop-shadow(0 0 2px #0000006c);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
