$mainColour: #292929;

.main {
  max-width: 1000px;
  width: 100%;
}

.todoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-size: 1.15rem;

  padding: 8px;
  margin: 16px 0px;

  border-radius: 10px;
  background: #ffffff;
  box-shadow: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff;

  transition: all;
  transition-duration: 0.6s;

  .icon {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .title {
    flex: 10;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
    user-select: none;
  }

  .due {
    flex: 1;
    user-select: none;
  }

  .editIcon {
    opacity: 0;
  }

  &:hover {
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff;

    .editIcon {
      opacity: 1;
    }
  }
}
