$mainColour: #292929;

.main {
  max-width: 1000px;
  width: 100%;
}

.todoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-size: 1.15rem;

  padding: 8px;
  margin: 16px 0px;

  background-color: white;
  border-radius: 6px;

  box-shadow: 2px 3px 2px rgba($mainColour, 0.07);

  transition: all;
  transition-duration: 0.2s;

  &:hover {
    box-shadow: 2px 3px 2px rgba($mainColour, 0.27);
    transform: scale(1.003);
  }
}

.icon {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  flex: 10;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}

.due {
  flex: 1;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2px 8px;

  transition: all;
  transition-duration: 0.5s;

  .optionSquare {
    margin: 2px 0px;
    width: 5px;
    height: 5px;
    background-color: $mainColour;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba($mainColour, $alpha: 0.14);
    border-radius: 20px;
  }
}
